.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    background-color: #0c0f12;
}

.navbar-brand {
    font-size: 1.1rem;
    color: white;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep .nav-link {
        color: rgba(255, 255, 255, 0.75);
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

    .nav-item ::deep a.active {
        background-color: #378ADD;
        color: white;
    }

    .nav-item ::deep .nav-link:hover {
        background-color: rgba(55, 138, 221, 0.3);
        color: white;
    }

.nav-scrollable {
    display: none;
    background-color: #101418;
}

.navbar-toggler:checked ~ .nav-scrollable {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .nav-scrollable {
        display: block;
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
